body {
  background-color: white;
  text-align: center;
}

p {
  font-family: helvetica;
}

h1, h2 {
  font-family: verdana;
  color: black;
}

a:link, a:visited {
  background-color: rgb(148, 148, 148);
  font-family: verdana;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkgrey;
}